<%= form_for @list do |f| %>
  <% if @list.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@list.errors.count, "error") %> prohibited this list from being saved:</h2>

      <ul>
      <% @list.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>


  <% placeholder_text = 'Text goes here. Optionally [bracket] particular phrases to make specific links.' %>
  <% placeholder_links = 'Links go here. You can enter multiple links on individual lines.' %>
  <ul>
    <%= f.fields_for :items do |i| %>
      <li>
        <%= i.text_area :description, :class => 'description', :placeholder => placeholder_text %>
        <%= i.text_area :links, :class => 'links', :placeholder => placeholder_links %>
      </li>
    <% end %>

    <%= f.fields_for :items, Item.new, :child_index => "index_to_replace_with_js" do |i| %>
      <li>
        <%= i.text_area :description, :class => 'description', :placeholder => placeholder_text %>
        <%= i.text_area :links, :class => 'links', :placeholder => placeholder_links %>
      </li>
    <% end %>

  </ul>

  <p><%= f.link_to_add "Add an item", :items %></p>

  <%= add_item_link("New item", 'ul', :partial => 'lists/item', :object => Item.new, :locals => {:f => f} ) %>

  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>
